<% if @country %>

  <h2><%= @country.name %></h2>

  <% @videos.each do |video| %>

    <p>
    <%= video.vid %>

    <% video.policies.each do |policy| %>
      <%= policy.rights %>
    <% end %>
    </p>

  <% end %>

<% else %>

  <p>Please enter a valid country code.</p>

<% end %>