<% if @country %>

  <h1>Videos available in <%= @country.name %></h1>

  <%= paginate @videos %>

  <table>
    <thead>
        <tr>
          <th>Vid</th>
          <th>Rights Policy</th>
        </tr>
      </thead>
      <tbody>
        <% @videos.each do |video| %>
          <tr>
            <td>
              <%= video.vid %>
            </td>
            <td>
              <% video.policies.each do |policy| %>
                <%= policy.rights %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


<% else %>

  <p>Please enter a valid country code.</p>

<% end %>