<% if @country %>

  <h1><%= @video.id %>. <%= @video.vid %></h1>

  The policy in <strong><%= @country.name %></strong> is 

  <% @video.policies.each do |policy| %>
    <em><%= policy.rights %></em>.
  <% end %>

<% else %>

  <p>Please enter a valid country code.</p>

<% end %>