/*

  General Style

*/

#page-wrap {
  margin: 0 auto 40px auto;
  width: 800px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

h1#logo a {
  text-decoration: none;
  color: #039;
}

#content-wrap {
  padding: 0 80px;
}

nav {
  background-color: #eee;
  padding: 10px 30px;
}

nav header {
  font-size: 140%;
}

nav section {
  padding: 10px 40px;
}

footer {
  border-top: 40px #eee solid;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

/*

  Table style
  via http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/

*/

table {
  font-size: 12px;
  background: #fff;
  margin: 45px auto;
  width: 480px;
  border-collapse: collapse;
  text-align: left;
}

table caption {
  font-size: 140%;
  color: #039;
  background-color: #eee;
  padding: 4px 0;
}

table th
{
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}
table td
{
  color: #669;
  padding: 9px 8px 0px 8px;
}
table tbody tr:hover td
{
  color: #009;
  background-color: #eee;
}
